*.pyc
*.pyo
*.swp
*.swo
*.orig

# Local Source of Dependencies
/ioweb
/src/
/urllib3

# Files of different tools
/perf.data
/perf.data.old

# Local development files
/.env*
/test.py
/test_*.py
/sync.sh
/.hg/

# Trash
/var/
